.btn{
    padding: 10px;
    background-color: rgb(63, 84, 192);
    border-radius: 5px;
    border-color: rgb(63, 84, 192);
    color: white;
}

.age{
    padding: 10px;
    background-color: rgb(63, 84, 192);
    border-radius: 5px;
    border-color: rgb(63, 84, 192);
    color: white;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.information {
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: light;
}